---
import Search from "@/components/Search.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";
import { siteConfig, menuLinks } from "@/site.config";
import { Icon } from "astro-icon/components";

// New line: Accept the `series` prop from the layout
const { series } = Astro.props;
const isSeries = Boolean(series);
---

<header id="main-header" ...>	
	...
	<nav ... id="main-navigation-menu">
		{
			menuLinks.map((link) => (
				<a
					aria-current={Astro.url.pathname === link.path ? "page" : false}
					class="underline-offset-2 hover:underline"
					data-astro-prefetch
					href={link.path}
				>
					{link.title}
				</a>
			))
		}

		{isSeries && (
			<>
				<a
					class="flex h-8 items-center rounded-lg bg-accent-base/5 px-4 text-accent-base underline-offset-2 hover:bg-accent-base/10"
					data-astro-prefetch
					href="/posts/citrus-docs/intro/"
				>
					Docs
				</a>

				<a
					class="flex h-8 items-center rounded-lg bg-accent-base/5 px-4 text-accent-base underline-offset-2 hover:bg-accent-base/10"
					data-astro-prefetch
					href="/posts/citrus-docs-two/intro/"
				>
					Docs1
				</a>

				<a
					class="flex h-8 items-center rounded-lg bg-accent-base/5 px-4 text-accent-base underline-offset-2 hover:bg-accent-base/10"
					data-astro-prefetch
					href="/posts/citrus-docs-three/intro/"
				>
					Docs2
				</a>
			</>
		)}
	</nav>

	...
</header>

<!-- Mobile Drawer Navigation -->
<div id="drawer" class="fixed inset-0 z-10 hidden" aria-hidden="true">
	...
	<nav
		aria-label="Mobile navigation menu"
		class="text-lg absolute inset-0 flex flex-col items-center justify-center gap-y-4 text-center font-medium text-accent-two"
		id="nav-menu-mobile"
	>
		{
			menuLinks.map((link) => (
				<a
					aria-current={Astro.url.pathname === link.path ? "page" : false}
					class="underline-offset-2 hover:underline"
					data-astro-prefetch
					href={link.path}
				>
					{link.title}
				</a>
			))
		}

		{isSeries && (
			<>
				<a
					class="flex h-8 items-center rounded-lg bg-accent-base/5 px-4 text-accent-base underline-offset-2 hover:bg-accent-base/10"
					data-astro-prefetch
					href="/posts/citrus-docs/intro/"
				>
					Docs
				</a>

				<a
					class="flex h-8 items-center rounded-lg bg-accent-base/5 px-4 text-accent-base underline-offset-2 hover:bg-accent-base/10"
					data-astro-prefetch
					href="/posts/citrus-docs-two/intro/"
				>
					Docs1
				</a>

				<a
					class="flex h-8 items-center rounded-lg bg-accent-base/5 px-4 text-accent-base underline-offset-2 hover:bg-accent-base/10"
					data-astro-prefetch
					href="/posts/citrus-docs-three/intro/"
				>
					Docs2
				</a>
			</>
		)}
	</nav>
</div>


