---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>

	<h1 class="title mb-6">About</h1>
	<div class="prose prose-citrus max-w-none">
		<p>
			I'm Will Snyder, an undergraduate ML researcher at WWU with a focus on OSS and Japanese research.
		</p>

		<p>
			This site serves as a technical archive for engineering projects, open-source contributions, and 
			original research. It includes an ongoing research log dedicated to the analysis of Japanese machine 
			learning papers—bridging language and domain boundaries in the process.
		</p>

		<p>
			A core aim of this work is to document how I navigate and learn within fields that are often seen as 
			opaque or inaccessible. Positioned at the intersection of machine learning and Japanese fluency, this 
			site reflects an effort to make complex ideas more transparent, reproducible, and approachable, not just 
			for myself, but for others who might be following similar paths.
		</p>
	</div>

</PageLayout>
